.article {
	position: relative;
	height: 100%;
	object-fit: cover;
	object-position: 0 0;
}

.article__img {
	height: 250px;
	width: 100%;
}

.article__container {
	position: relative;
	display: block;
	height: 900px;
	border-radius: 10px;

	.article__content {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
		width: 85%;
		margin: 0 auto;
		padding: 35px;
		min-height: 90%;
		bottom: 12%;
	}

	.article__action {
		position: absolute;
		margin-left: 85px;
		bottom: 9%;
	}
}